@model CreateNotificationDto

@{
    ViewData["Title"] = "CreateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Bildirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Bildirim Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="notificationtype">Bildirim Türü</label>
								<input type="text" class="form-control" asp-for="Type" id="notificationtype">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="notificationicon">Bildirim Iconu</label>
								<input type="text" class="form-control" asp-for="Icon" id="notificationicon">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="notificationdescription">Açıklama</label>
								<input type="text" class="form-control" asp-for="Description" id="notificationdescription">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Bildirimi Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>